body {
    background-color: #F6F5F5;
}

#fcredenziali {
    border: solid 2px #276678;
    background-color:#1687A7;
    color: #F6F5F5;
    padding: 20px;
    width: 300px;
    font-weight: bold;
   /* position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -180px;*/
}


.loginmainContent{
    display: flex;
    justify-content:center;
    padding-top: 30px;
    align-items: center;
    flex-direction: column;
}


