body {
    margin: 0px;
    padding: 0;
    font-family: Verdana, Arial, Serif;
    background-color: #F6F5F5;
}

#information{
    border: solid 5px #276678;
    background-color:#D3E0EA;
    color: #1687A7;
    padding: 20px;
    /*width: 600px;*/
    font-weight: bold;
   /* position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -240px;
    */
}

#bio {
    height: 100px;
    width: 400px;  
    border: solid 1px #1687A7;  
}

#UserTypeDiv {
    border: solid 4px #276678;
    background-color: #FFBC37;
    color: #276678;
    padding: 25px;
    margin-bottom: 20px;
}

#errorPwd {
    color: red;
    font-size: smaller; 
}

#errorBirthDate {
    color: red;
    font-size: smaller; 
}

#Impresa {
    margin-top: 20px;
}

.testoesteso {
    width: 360px !important;
}

.regmainContent {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

select, textarea  {
    padding: 6px 9px;
    border: 2px solid #276678;
    border-radius: 4px;
    outline: none;
    margin-bottom: 10px;
  }